<div  class = "main-background"></div>

<div class = title-block>
    <h1 class = "fade-in fade-in-1 title">Ryan Ladley</h1>
    <div class = "sub-title-block">
        <h4 class = "fade-in fade-in-2 sub-title">Veteran.</h4>
	    <h4 class = "fade-in fade-in-3 sub-title" [ngClass]="{'border-bottom-delay' : underlineTitle ==true}">Engineer.</h4>
        <h4 class = "fade-in fade-in-4 sub-title">Climber.</h4>
    </div>
</div>


<div class="section white-section picture-section">
	<div class="profile-picture-wrapper">
		<div class = "profile-picture-lg main-profile"></div>
	</div>
	<div class = "text-block">
		<h1>I am software engineer based in beautiful Denver, Colorado.</h1>
		<p> Programing is my passion. Desigining applications and architecting solutions is what I do. If I am not at a local climbing crag, there is a good chance you'll find me in front of a computer making making something cool.</p>
		<br>
		<p> If you have a job, or a problem that needs solving, I would love to hear from you. </p>
		<a class ="link" href="#contact">Click here to get in contact.</a>
	</div> 
</div>



<div class="section denver-section">
	<div class = "text-block">
		<h1>What I provide</h1>
	</div>

	<div class="block-container">
		<div class = "detail-block">
			<i class="fa fa-database" aria-hidden="true"></i>
			<h4>Data Services</h4>
			<p>There are answers within your data. Using modern machine learning or old-fasion analytics, I can get those answers.</p>
			<div class = "example-link">
				<a href="#application-example">Example</a>
			</div>
		</div> 
		<div class = "detail-block">
			<i class="fa fa-globe" aria-hidden="true"></i>
			<h4>Web Applications</h4>
			<p>My bread and butter. If you need a beautiful landing page, or functional application, look no further.</p>
			<div class = "example-link">
				<a href="#data-example">Example</a>
			</div>
		</div> 
		<div class = "detail-block">
			<i class="fa fa-cogs" aria-hidden="true"></i>
			<h4>Automation</h4>
			<p>As they say, "automate the boring stuff". Save man hours and add piece of mind by automating your manpower intensive processes. </p>
			<div class = "example-link">
				<a href="#automation-example">Example</a>
			</div>
		</div> 
	</div>
</div>

<div class="section white-section">
	<div class = "text-block">
		<h1>My work</h1>
		
		<div class="center">
			<div class="protfolio-item" id="application-example">
				<div class = "image">
					<img src="assets/images/dts/logo.png"/>
				</div>

				<div class="protfolio-block">
					<div class="protfolio-title">
						<h2>DTS Operations Bugeting</h2>
						<h3>Web Application</h3>
					</div>
					<div class="protfolio-body">
						<p>This cradle to grave budgeting application was designed to securely track 5.7 million dollars’ worth of 
							activity and invoices for the Colorado Springs Public Works division. It automates tasks, such as cover 
							sheet creation and spreadsheet dispersal, that before would require costly manual intervention.  
							According to the Operations Manager, this application has led a 75% reduction in manpower required 
							for budgeting/invoicing.</p>
					</div>
				</div>
			</div>
		</div>		
		<div class="center">
			<div class="protfolio-item">
				<div class = "image" style="background: #464646"  >
					<img src="assets/images/reelstream/reelstream.png"/>
				</div>

				<div class="protfolio-block">
					<div class="protfolio-title">
						<h2>reelstream</h2>
						<h3>Web Application</h3>
					</div>
					<div class="protfolio-body">
						<p>"Netflix for your personal collection". This application takes your personal movie collection and uploads 
						it into the cloud to be streamed from anywhere with an internet browser. Like you’ve come to expect 
						with service like Netflix, this application creates curated queues of movies based on genre, or what you 
						have previously watched.  </p>
					</div>
				</div>
			</div>
		</div>	
	
		<div class="center">
			<div class="protfolio-item" id="data-example">
				<div class = "image"   >
					<img src="assets/images/clicks/dash.png"/>
				</div>

				<div class="protfolio-block">
					<div class="protfolio-title">
						<h2>System Dashboard</h2>
						<h3>Web Application / Data Services</h3>
					</div>
					<div class="protfolio-body">
						<p>Raw data can be hard to consume in a meaningful way. Worse yet, large amounts of data can take time 
							to parse. This application takes 58 gigabytes of raw, unindexed, data from an ‘on premises’ database 
							and extracts and parses meaningful information. The data needed to be consumed in real time, so 
							special attention was given to performance which allows this information to be extracted and displayed 
							on a web application in seconds. </p>
					</div>
				</div>
			</div>
		</div>			

		<div class="center">
			<div class="protfolio-item">
				<div class = "image"  style="background: black" >
					<img src="assets/images/clicks/click_example.png"/>
				</div>

				<div class="protfolio-block">
					<div class="protfolio-title">
						<h2>Invalid Email Click Detection</h2>
						<h3>Data Services</h3>
					</div>
					<div class="protfolio-body">
						<p>Sometimes displaying data and trends isn’t enough. On the fly decisions must be made. This program 
							uses a Machine Learning Technique called clustering. Specifically, it uses a technique known as Density-
							Based Spatial Clustering to filter out automated clicks in an email marketing campaign to facilitate 
							meaning full sales leads. </p>
					</div>
				</div>
			</div>
		</div>	
	
		<div class="center">
			<div class="protfolio-item" id="automation-example">
				<div class = "image"  >
					<img src="assets/images/clicks/agile.png"/>
				</div>

				<div class="protfolio-block">
					<div class="protfolio-title">
						<h2>Agile: Automated Test Suite</h2>
						<h3>Automation</h3>
					</div>
					<div class="protfolio-body">
						<p>When a test suite is in place, testing is easy. When starting from scratch, creating a test suite to preform 
							meaning full test can be a challenge., and that is exactly what this suite does. Designed around an ever 
							changing schema, this test suite preforms automated regression testing on 3 separate, yet connected, 
							web applications using selenium web driver. </p>
					</div>
				</div>
			</div>
		</div>

	</div> 
</div>

<values></values>
<contact id="contact"></contact>
