
<div class="section contact-section">	
	<div class = "text-block">
		<h1>Get in contact</h1>
		<a href="https://www.linkedin.com/in/ryan-ladley-928a79112/" target="_blank"> <i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i></a>
		<a href="https://github.com/RyanLadley" target="_blank"> <i class="fa fa-github fa-5x" aria-hidden="true"></i></a>

		<div class="row">
			<a href="mailto:ladley.ryan@gmail.com?Subject=Job%20Prospect" target="_top" class ="email"><i class="fa fa-envelope-o" aria-hidden="true"></i> Ladley.Ryan@gmail.com</a>
		</div>

	</div>
</div>
